@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(252, 252, 252);
  background: radial-gradient(
    circle,
    rgba(252, 252, 252, 1) 0%,
    rgba(208, 222, 224, 1) 90%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
